<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Geoquest</title>
    <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRVaSOivSjnrMqEKKM7UoygD7qrpxGQnY&callback=console.debug&libraries=maps,marker&v=beta">
    </script>
</head>
<header>
    <nav>
        <ul>
            <li><a href="/quests">Quests</a></li>
        </ul>
    </nav>
</header>
<body>